<div class="row">
	<div class="large-12 columns">
		<h3> You have <%= pluralize @projects.size, "project" %> so far </h3>
		<p>Create a project <%= link_to "here", new_project_path %></p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<% @projects.each do |project| %>
			<div style="padding:10px">
				<h5><%= project.name %></h5>
				<%= link_to "take a look inside", project, class:"button small round" %>
				<blockquote>
					<%= project.description %>
				</blockquote>
			</div>
		<% end%>
	</div>
</div>